*{
	margin: 0;
	padding: 0;
	
	
}

#seccion a{
	display: block;
	text-align: center;
	background: #ccc;
	color: black;
	text-decoration: none;
}

#seccion{
	float: left;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.text{
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 30px;
}

h1{
	text-align: center;
	display: block;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 45px;
}
#seccion:hover{
	margin-top: 3%;
	transition: 1s;
	box-shadow: 5px 5px 25px #666;
}

@media(min-width:1200px){
	#seccion a img{
		width: 100%;
	}
}
@media(max-width:1999px) and (min-width:992px){
	#seccion a img{
		width: 100%;
	}
}
@media(max-width:911px) and (min-width:768px){
	#seccion{
		text-align: center;
	}
	#seccion a img{
		width: 100%;
	}
	
}
@media(max-width:767px){
	#seccion a img{
		width: 100%;
	}
}