.contenedor{
    grid-gap:1.25em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header	 	 header 	  header"
						"contenido   contenido    contenido"
						"footer 	 footer 	  footer";
}
.sidebar{
    display: none;
}
.contenido-biblio {
	grid-area: contenido;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px; 
}
.contenido-biblio .area-biblio{
    background-color: #f2f2f2;
    text-align: center;
}
.contenido-biblio .area-biblio a{
    color: #154360;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}
.contenido-biblio .area-biblio img{
    object-fit: cover;
    max-height: 91%;
}
@media(max-width:992px){
    .contenedor{
        grid-template-areas:"header	 	 header 	  header"
                            "contenido   contenido    contenido"
                            "footer 	 footer 	  footer";
    }
}
@media(max-width: 576px){
    .contenido-biblio{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }
    .contenido-biblio div img{
        max-height: 200px !important;
        max-width: 100%;
    }
}