/*--------------Pantalla Escritorio--------------*/
@media(max-width: 1200px){
    body{
        font-size: 15px;
    }
    nav ul div.items li.sub-mn:hover > ul{
        top: 184px !important;;
    }    
}
/*--------------Pantalla Tablet-Horizontal-----------*/
@media(max-width: 992px){
    body{
        font-size: 13px;
    }
    nav ul div.items li.sub-mn:hover > ul{
        top: 163px !important;;
    } 
    .contenedor{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
	grid-template-areas:"header	 	 header 	  header"
						"bienvenida  bienvenida   bienvenida"
                        "contenido   contenido    contenido"
                        "sidebar     sidebar      sidebar"
						"footer 	 footer 	  footer";
    }
}
/*--------------Pantalla Tablet-Vertical-------------*/
@media(max-width: 768px){
    .curso .txt-curso{
        font-size:12px;
    }
    header .logo {
        font-size: 20px;
    }
    nav ul div.items.show{
        top:202px !important;
    }
}
/*---------------Pantalla Celular----------------*/
@media(max-width: 576px){

    body{
        font-size: 12px;
    }
    .curso{
        display: grid;
        grid-template-columns: 1fr;
    }
    img{
    width: 200%;
    height: 12.5em;
    object-fit: cover;
    }
    nav ul div.items.show{
        top:200px !important;
    }
}
@media(max-width:370px){
    body{
        font-size: 12px;
    }
    header .logo {
        font-size: 16px;
    }
    .curso{
        display: grid;
        grid-template-columns: 1fr;
    }
    .curso img{
        display: none;
    }
    nav ul div.items.show{
        top:178px !important;
    }
}
