.menu{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 0px 0px;
    background: #154360;
}
.menu ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
nav ul div.items{
    width: 65%;
    max-width: 56.25rem;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
nav ul div.items a{
    padding: 0.625em 2.5em;
	color: #fff;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
}
nav ul div.items a:hover{
    color: cyan;
    border-radius: 6px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}
.menu ul div.items li>ul{
    border-top: 2px solid cyan;
    top: 13.06rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
nav ul div.items li.sub-mn:hover > ul{
    z-index: 10;
    top: 12.125rem;
    transition: top 0.3s; 
    display: block;
    visibility: visible;
    opacity: 1;
	background: rgba(21, 67, 96, 0.89);
}
nav ul div.items li.sub-mn:hover > ul a{
    box-shadow: none;
}
nav ul .search-icon{
    margin:4px 6px;
    height: 2.5em;
    width:15em;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}
nav ul .search-icon input{
    height:100%;
    width: 12.5rem;
    border: none;
    outline: none;
    padding: 0 0.625em;
    color: #000000;
    font-size: 1em;
    border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
    height: 100%;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
nav ul .search-icon .icon:hover{
    background: #e6e6e6;
}
nav ul .search-icon .icon span{
    color: #222222;
    font-size: 1.125rem;
}
nav ul li.btn{
    font-size: 1.8125rem;
    flex: 1;
    padding: 0 1.25rem;
    display: none;
    color: #fff;
}
nav ul li.btn span{
    height:2.625rem;
    width: 2.625rem;
    text-align: center;
    line-height: 2.625rem;
    border-radius: 5px;
    cursor: pointer;
}
nav ul li.btn span.show:before{
    content: '\f00d';
}
@media(max-width:797px){
    nav ul li.btn{
        display: block;
    }
    .menu ul li>a{
        background: #1A5276 !important;
    }
    .menu ul ul li>a{
        background: #1F618D !important;
    }
    nav ul div.items li.sub-mn:hover >ul{
        display: none;   
    }
    .menu ul div.items.show li>ul.show{
        display: block;
        position: static;
        opacity: 1;
        visibility: visible;
        border-top: none;
    }
    nav ul div.items{
        z-index:1;
        position: absolute;
        top: -54.375rem;
        width: 90%;
        max-width:75rem; 
        display: block;
        transition: top .4s ;
    }
    nav ul div.items.show{
        top:12.71em;
    }
    nav ul div.items.show li>a{
        color: #fff;
        border-radius: 0px;
        box-shadow: none;
        background: rgba(21, 67, 96, 1);
    }
    nav ul div.items li{
        text-align: center;
        line-height: 1.875em;
        margin: 0 0;
    }
    nav ul div.items li a{
        font-size: 1.1875em;
    }
}